<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="MVVM/style.css" type="text/css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src ="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="module">

import Model from "./MVVM/Model.js"
import ViewModel from './MVVM/ViewModel.js'


window.init = async function(){
	
    const product = ''// = await fetch('http://localhost:8080/products').then(res => res.json())
	const model = Model(product)
	const vm = ViewModel(document.getElementById('base'), model)
	const app = new Vue(vm)

};
	document.getElementById("logout").style.display = "none";


</script>

</head>
<body onload = "init()">	
	<div id="base">


		<button @click='openForm()' class="login" id="login">Login</button>
		<button @click='logout()' class="login" id="logout" >Logout</button>

		<div id="Header">Administation Site For IKEA 3D Application</div>
		<input type="text" id="myInput" onkeyup="" placeholder="Search for Products..">
   


		<div class="form-popup" id="myForm">
			<div class="form-container">
			  <label for="username"><b>Username</b></label>
			  <input v-model:value="username" type="text" placeholder="Enter Username" name="username" required>
		  
			  <label for="psw"><b>Password</b></label>
			  <input v-model:value="psw" type="password" placeholder="Enter Password" name="psw"  required>
		  
			  <button type="submit" class="btn" @click='adminLogin()'>Login</button>
			  <button type="button" class="btn cancel" @click="closeForm()">Close</button>
			</div>
	
		  </div>

		  <div class="updateDBButton" id="updateDBButton" @click="updateDatabase()"><Button>Update Products in Database</Button></div>
		
			
	<table id = 'product'>
		<thead><tr><td style="color:white">Product ID</td><td style="color:white">Name</td><td style="color:white">Type</td><td style="color:white">Price</td><td style="color:white">Width</td><td style="color:white">Height</td><td style="color:white">Weight</td><td style="color:white">Action</td></tr></thead>
		<div class="editForm-popup" id="editFrom">
			<div class="editForm-container">
				<input id="editInput" type="text"placeholder="name" v-model="productInEdit.name">
				<input type="text" id="editInput" placeholder="Type"v-model="productInEdit.type">
				<input type="text" id="editInput"placeholder="Price"v-model="productInEdit.price">
				<input type="text" id="editInput"placeholder="Width"v-model="productInEdit.width">
				<input type="text" id="editInput"placeholder="Height"v-model="productInEdit.height">
				<input type="text" id="editInput"placeholder="Weight"v-model="productInEdit.weight">
				<button @click="updateProduct()">Save</button>
		</div>
		<tbody>
			
			<tr v-for='(p, index) in product' :key="index">
				<td>{{p.id}}</td>
				<td>{{p.name}}</td>
				<td>{{p.type}}</td>
				<td>{{p.price}}</td>
				<td>{{p.width}}</td>
				<td>{{p.height}}</td>
				<td>{{p.weight}}</td>
				<td><button type="menu" @click="openEdit(index)">Edit</td>

			</tr>
		</tbody>
	</table>

	

	<table class="topTable" style="width:80%">
		<tr><th colspan="4">Top 3 Product Statistics</th></tr>
		<tr>
			<td>1</th>
		  	<td>Company</th>
		  	<td>Contact</th>
		  	<td>Country</th>
		</tr>
		<tr>
			<td>2</th>
			<td>Alfreds Futterkiste</td>
			<td>Maria Anders</td>
			<td>Germany</td>
		</tr>
		<tr>
			<td>3</th>
			<td>Centro comercial Moctezuma</td>
			<td>Francisco Chang</td>
			<td>Mexico</td>
		</tr>
	  </table>
	</div>
<footer>
	<p class="footerP">Copyright © 2022 Jakob & Mathias - IKEA Bachelor Project</p>
</footer>
</body>

</html>