body {
  background-color: #FFCD00;
}

#myInput {

  
    
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 10%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    border-radius: 15pt;
    margin-bottom: 12px; /* Add some space below the input */
    display: block;
    margin-right: auto;
    margin-left: auto;
    
  
  
  }
  #Header {
      font-size: 30pt;
      font: bold;
      text-align: center;
      margin-top: 0%;
      margin-bottom: 3%;
      color: #280071;
  }
  table {
    border-collapse: collapse;
    text-align: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
  table,th,td{
    border: 2px #280071 solid;
    padding:5px;

 }
 td{
   font-size: 15px;
   color: #280071;
   font:bold
 }
 thead{
   background-color: #280071;
   
 }
 th{
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: Arial;
 
}
.length{
  width: 20%;
}

.toptr{
  font-weight: bold;
}
.topTable{

  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  
  position: absolute;
  
  bottom:6%;
}
.footerP{
  position: absolute;
bottom:0px;
text-align: center;

  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.login{
  display: block;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: auto;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: auto;
  margin-bottom: auto;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 18%;
  right: 40%;
  left: 40%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.editForm-popup{
display: none;
  position: fixed;
  margin-left: 31%;
  margin-right: 31%;
  width:fit-content;
  
}
#editInput{
max-width: 60px;
}
.updateDBButton{
 width: 200px;
 margin-left: 73%;
 position:fixed;
 margin-top: 2%;
 display: none;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
.editForm-container{
  width:fit-content;
  background-color: #555;
  padding: 10px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #280071;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

  